<a href="https://colab.research.google.com/github/stegrieve/keywordDicts/blob/master/keywordDicts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas

In [0]:
df = pandas.read_excel('TEST.xlsx')

In [5]:
df.head()

  COVID Notes WFH Notes.1 ELSE Notes.2
0     A    A1  AA     AA1  AAA    AAA1
1     B    A2  BB     AA2  BBB    AAA2
2     C    A3  CC     AA3  CCC    AAA3
3     D    A4  DD     AA4  DDD    AAA4
4     E    A5  EE     AA5  EEE    AAA5

In [0]:
maxColVal = len(df.columns)-1
valCol = 0
noteCol = valCol+1

terms = []
tags = []
lista=[]
while noteCol<=maxColVal:
    for each in range(len(df.iloc[:,valCol])):
        a={'Keyword' : df.loc[each].at[df.columns[valCol]],'Notes' : [df.loc[each].at[df.columns[noteCol]]]}
        lista.append(a)
    terms.append(dict([('Name',str(df.columns[valCol])), ('Keywords',lista)]))
    tags.append(str(df.columns[valCol]))
    valCol+=2
    noteCol+=2
    lista = []